---
import { Image } from 'astro:assets';
const { data } = Astro.props;

const pageName = data.name.replace(/\s+/g, '-').toLowerCase();
---

<a
  class="group flex snap-center list-none flex-col gap-2 rounded-2xl bg-white p-6 text-start text-blue-primary shadow-card"
  href={`/projects/${pageName}`}
  transition:name=`project ${pageName}`
>
  <div class="relative aspect-[3/2] h-[200px] w-full overflow-hidden rounded-2xl bg-yellow-primary" >
    <div class="relative left-8 top-12 transition-all group-hover:-translate-y-4">
      <Image src={data.photo} alt={data.name} class="shadow-card" />
    </div>
  </div>
  <p class="text-[20px] font-bold"
  transition:name=`title ${pageName}`
  >{data.name}</p>
  <div class="inline-flex flex-wrap gap-2">
    {
      data.tech.map((tech: string) => (
        <p class="rounded-[16px] border-[1px] border-blue-primary px-2 py-1 text-[12px] text-blue-primary md:text-[16px]">
          {tech}
        </p>
      ))
    }
  </div>
</a>
