---
import { projects } from '@content/content';
import Layout from '@ui/layouts/Layout.astro';
import { Image } from 'astro:assets';

export function getStaticPaths() {
  const paths = projects.map((project) => ({
    params: { project: project.name.replace(/\s+/g, '-').toLowerCase() },
  }));
  return paths;
}
const { project } = Astro.params;
const data = projects.find((item) => item.name.replace(/\s+/g, '-').toLowerCase() == project);
const title = `${data.name} | Ardy Putra Utama`
---

<Layout title={title}>
  <div
    class="relative aspect-[3/2] h-[200px] w-full overflow-hidden bg-yellow-primary md:h-[400px]"
    transition:name=`project ${project}`
  >
    <div class="relative left-8 top-12 lg:left-1/4" >
      <Image src={data.photo} alt={data.name} class="shadow-card" />
    </div>
  </div>
  <div class="flex justify-center bg-skeleton">
    <div class="flex max-w-sm flex-col items-center gap-2 px-6 py-6 text-blue-primary md:py-10">
      <p class="text-center text-3xl font-bold"
      transition:name=`title ${project}`
      >{data.name}</p>
      <div class="flex flex-wrap justify-center gap-2">
        {
          data.tech.map((tech: string) => (
            <p class="inline-flex rounded-[16px] border-[1px] border-blue-primary px-2 py-1 text-[12px] text-blue-primary md:text-[16px]">
              {tech}
            </p>
          ))
        }
      </div>
    </div>
  </div>
  <div class="min-h-screen bg-white flex justify-center items-center">
    <h3 class="text-4xl font-bold p-6 text-start text-blue-primary">Content Available Soon.</h3>
  </div>
</Layout>
